body {
    font-size: 16pt;
    /*    background-color: #60605B;*/
    
}
ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.progress {
    background: #0051BA;
    margin: 2px;
}

.progress-bar {
    background: #0051BA;
}
ul li {
    background-color: #3A75CA;
    color: white;
    z-index: -1;
    border-radius:8px;
    border:solid 2px #60605B;
    box-shadow: darkgray 2px 2px 4px;
    padding:8px;
    margin:4px;
    width:50%;
    text-align:center;
    position:relative;
    left:70px;
    top:-40px;
}
#navBar {
    width: 100%;
    padding: 10px 0px;
    font-size: 1.4em;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#footer {
    width: 100%;
    padding: 10px 0px;
    font-size: 1.4em;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-color: #0051BA;
    color: white;
    box-shadow: darkgray 3px 3px 5px;
}

#track {
    float: left;
}

#retrieve {
    float: right;
}

button {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: large;
}

#container {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
}

#instructions {
    position: relative;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
}
.page {
    /*background-color:antiquewhite;*/
    visibility: hidden;
    margin:1rem;
}

#photo {
    border: solid 3px #60605B;
    width: 150px;
    height: 150px;
    margin-right: 1rem;
}
#msg{
    display:none;
}
/**#btn1 {
    position: relative;
    left:50px;
    margin-bottom:2rem;
}*/
.btn {
    background-color: #0051BA;
    color: white;
}
#map {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 360px;
    width: 100%;
    margin: 0px auto;
    visibility: hidden;
    z-index: 1;
}

#directions {
    position: relative;
    height: auto;
    width: 90%;
    max-width: 320px;
    margin: 15px auto;
    padding: 10px 10px;
    visibility: hidden;
}

body {
    font-family: Roboto, sans-serif;
}

#navBar {
    background-color: #0051BA;
    color: white;
    box-shadow: darkgray 3px 3px 5px;
}

#track, #retrieve {
    border: 1px white solid;
}

button {
    background-color: #0051BA;
    color: white;
}

#instructions, button, #map, #directions {
    /*    box-shadow: darkgray 3px 3px 5px;
    border: 1px black solid;*/
    position:fixed;
    border: 1px #dddddd solid;
    border-radius: 5px;
}

#gotIt, button {
    border: 1px white solid;
    color: white;
}
