/*

body {
  font-family: Roboto, sans-serif;
}

#navBar {
  background-color: #2196f3;
  color: white;
  box-shadow: darkgray 3px 3px 3px;
}

#track, #retrieve {
  border: 1px white solid;
}

button {
  background-color: #2196f3;
  color: white;
}

#instructions, #map, #directions {
  /*box-shadow: darkgray 3px 3px 5px;*/
  /*border: 1px black solid;*/
 /* border: 1px #dddddd solid;
  border-radius: 10px;
}
*/
